{
    "OryFM": "",
    "Login": "",
    "Email Address": "",
    "Enter valid email address": "",
    "Password": "",
    "Enter password": "",
    "Remember me": "",
    "Forgot Password?": "",
    "Proceed": "",
    "Success": "",
    "You should receive an email shortly with a link to set your new password.": "",
    "Test Mode Link": "",
    "Error": "",
    "The requested link is either expired or invalid.": "",
    "Return to home screen": "",
    "Reset your password": "",
    "Your new password has been setup successfully.": "",
    "Continue": "",
    "Reset Password": "",
    "Enter your account email address below to continue.": "",
    "Set Password": "",
    "Create a new password": "",
    "Retype Password": "",
    "Enter at least {{min}} characters": "",
    "{{clientName}} wants to access your account.": "",
    "Make sure you trust {{clientName}}": "",
    "Remember Decision": "",
    "Cancel": "",
    "Allow": "",
    "Valid email address required":  "",
    "Password required": "",
    "Invalid credentials": "",
    "See your email address": "",
    "See your name": "",
    "Passwords do not match": ""
}
