.outer-container {
    height: auto;
}

.content {
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

@media (min-width: 576px) {
    .outer-container {
        height: 100vh;
    }

    .content {
        width: 500px;
        height: auto;
    }
}
